@import "grid";

// Usage
@include grid;
@media only screen and (min-width: 480px) {
  @include grid(tablet);
}
@media only screen and (min-width: 768px) {
  @include grid(desktop);
}

// Styling
body {
  font: 1em/1.2 Arial, sans-serif;
}
p {
  background: #aaa;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}
.container {
  background: #eee;
  margin: 10px auto;
  padding: 0 10px;
  max-width: 960px;
}

// Clearfix
.clearfix{
  overflow: hidden;
}

// "Semantic" grid
.medias {
  @extend .grid-wrapper;
}
  .media-item {
    @extend .grid, .half, .tablet-third, .desktop-quarter;
  }
    .media-img {
      border: 0;
      display: block;
      padding: 10px 0;
      width: 100%;
    }